<html>
    <head>
      {% if title %}
      <title>{{ title }} - Northlight Raid Tools</title>
      {% else %}
      <title>Northlight Raid Tools</title>
      {% endif %}
    </head>
    <body>
    <div>
        Northlight Raid Tools:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
		<a href="{{ url_for('add_remove_raider') }}">Add/Remove Raider</a>
		<a href="{{ url_for('update_raider') }}">Update Raider</a>
		<a href="{{ url_for('raid_split') }}">Raid Split</a>
        {% endif %}
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
