{% extends "base.html" %}

{% block content %}
    {% for raider in raiders %}
    <div><p>{{ raider.name}} {{ raider.realm }}-{{ raider.guild }} {{ raider.game_class }} {{ raider.role }}</b></p></div>
    {% endfor %}
    <h1>Raid Split</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
 	   		<fieldset class="form-group">
                <legend class="border-bottom mb-4">Select Raiders</legend>
                {% if form.choices.errors %}
                <div class="invalid-feedback">
                    {% for error in form.choices.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% for choice in form.choices %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
	        <p>
	            {{ form.req_str.label }}<br>
	            {{ form.req_str(size=100) }}<br>
	            {% for error in form.req_str.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        </p>
	        <p>
	            {{ form.loot_str.label }}<br>
	            {{ form.loot_str(size=100) }}<br>
	            {% for error in form.loot_str.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        </p>
	        <p>
	            {{ form.raid_size.label }}<br>
	            {{ form.raid_size(size=10) }}<br>
	            {% for error in form.raid_size.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        </p>
	        <p>
	            {{ form.num_splits.label }}<br>
	            {{ form.num_splits(size=10) }}<br>
	            {% for error in form.num_splits.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        </p>
	        <p>
	            {{ form.sim_num.label }}<br>
	            {{ form.sim_num(size=10) }}<br>
	            {% for error in form.sim_num.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        </p>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
{% endblock %}

